<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Azure Moon Wicks 'n Charms{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-3.1.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}azure_site/base.css">
    </head>
    <body>
        <header class="navbar navbar-fixed-top azure-navbar col-md-12" role="banner">
            <div class="container-fluid">
                <div class="navbar-header azure-header">
                    <div class="azure-logo">
                        <img src="{{ STATIC_URL }}azure_site/vendor/images/nude_witch_on_broom.svg" class="img-responsive" alt="Responsive image">
                    </div>
                    <div class="azure-title">
                        <div class="main-title">AZURE MOON<br><span>WICKS AND CHARMS</span></div>
                    </div>
                </div>
            </div>
        </header>
 <!---
        <div class="container">
            <div id="heading-constant">
                <div class="heading"><img src="{{ STATIC_URL }}azure_site/vendor/images/nude_witch_on_broom.png"></div>
                <span class="head-bar">
                    <svg id="line" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 560 10" style="stroke:rgb(51,102,153);stroke-width:4;height:20px;width:560px">
                        <line x1="0" y1="10" x2="558" y2="10"></line>
                        <line x1="0" y1="0" x2="558" y2="0"></line>
                    </svg>
                    <h3>AZURE MOON</h3>
                    <div class="subheading">
                        <p>WICKS AND CHARMS</p>
                    </div>
                    <svg id="line" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 560 10" style="stroke:rgb(51,102,153);stroke-width:4;height:20px;width:560px">
                        <line x1="0" y1="10" x2="558" y2="10"></line>
                        <line x1="0" y1="0" x2="558" y2="0"></line>
                    </svg>
                    <ul class="main-nav nav nav-pills nav-justified">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </span>
            </div>
            <div id="content-constant">

            </div>
        </div>
 --->
    </body>
</html>