@font-face {
    font-family: stonecross;
    src: url(vendor/stonecross/st______.ttf);
}

@font-face {
    font-family: perigord;
    src: url(vendor/perigord/pe______.ttf);
}

html {
    min-height:100%;
    position:relative;
}

.heading {
    float: left;
}

.heading img {
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.head-bar {
    padding-top: 3%;
    position:absolute;
}

.subheading {
    font-family: stonecross;
    font-size: 45px;
    color: #0088cc;
}

h3 {
    font-family: stonecross;
    font-size: 68px;
    color: #0088cc;
    line-height: 60%;
}

.main-nav {
    max-width: 550px;
}

body {
    background-color: rgba(24, 15, 37, 1);
    background-repeat: no-repeat;
}