doctype 5
html(lang="en")
    head
        title Azure Moon Wicks 'n Charms
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/bootstrap.css")
        link(rel="stylesheet", href="styles/custom.css")
    body
        .container
            .heading
                img(src="styles/witch-logo-24.png")
            span.headbar
                svg(id="line", xmlns="http://www.w3.org/2000/svg", version="1.1", viewBox="0 50 500 10",
                    style="stroke:rgb(51,102,153);stroke-width:4;height:20px;width:500px")
                    line(x1="0", y1="50", x2="490", y2="50")
                h3 AZURE MOON
                .subheading
                    p Wicks and Charms
                svg(id="line", xmlns="http://www.w3.org/2000/svg", version="1.1", viewBox="0 50 500 10",
                    style="stroke:rgb(51,102,153);stroke-width:4;height:20px;width:500px")
                    line(x1="0", y1="50", x2="490", y2="50")
                    line(x1="0", y1="50", x2="490", y2="50")
                ul.nav.nav-pills
            svg(id="line", xmlns="http://www.w3.org/2000/svg", version="1.1", viewBox="0 50 1000 10",
                style="stroke:rgb(51,102,153);stroke-width:4;height:20px;width:1000px")
                line(x1="0", y1="50", x2="1000", y2="50")

        script#headNavbar(type="text/html")
            li.nav-btn(class!="<%= model.get('active') %>")
                a(href!="#<%= model.get('id') %>") <%= model.get('display') %>

        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(src="vendor/bootstrap.min.js")
        script(src="vendor/underscore-min.js")
        script(src="vendor/backbone-min.js")
        script(src="scripts/model-navbar.js")
        script(src="scripts/view-navbar.js")
        script(src="scripts/app.js")