/* Customize the navbar links to be fill the entire space of the .navbar */
.container {
    background-color: rgba(128,128,128,0.3);
    width: 1000px;
    overflow: hidden;
}
.heading {
    width:400px;
    float:left;
}
.subheading {
    font-family: stonecross;
    font-size:61px;
    color: #0088cc;
    line-height: 50%;
}
.headbar {
    padding-top: 6%;
    position:absolute;
}
@font-face {
    font-family: stonecross;
    src: url(martel/martel.ttf);
}
@font-face {
    font-family: perigord;
    src: url(perigord/pe______.ttf);
}
.nav {
    line-height: 0%;
}
.nav > .active > a, .nav > .active > a:hover {
    background-color: rgb(51, 102, 153);
    color:#fff;
}
.nav > li > a:hover {
    color:#fff;
    transition: .3s linear;
}
.nav > li > a {
    color: rgb(129, 200, 248);
    font-size: 15px;
    text-shadow: none;
}
.nav li a {
    font-weight: bold;
    text-align: center;
}
h3 {
    font-family: stonecross;
    font-size: 80px;
    color: #0088cc;
    line-height: 60%;
}
body {
    image:url('moon-1.png');
    background-color:black;
    background-size:80%;
    background-repeat:no-repeat;
}
svg {
    display: block;
}